# Portfolio Returns

In [2]:
# Import dependencies
import pandas as pd
import numpy as np
from pathlib import Path
import seaborn as sns
%matplotlib inline

In [3]:
# Pull in portfolio data from CSVs
erii_returns = Path('erii_historical.csv')
tpr_returns = Path('tpr_historical.csv')
mrk_returns = Path('mrk_historical.csv')
low_returns = Path('low_historical.csv')
sp500_returns = Path('sp500_historical.csv')

In [4]:
# Read CSVs and Create DataFrames
erii_dataframe = pd.read_csv(erii_returns, index_col='Date', infer_datetime_format=True, parse_dates=True)
tpr_dataframe = pd.read_csv(tpr_returns, index_col='Date', infer_datetime_format=True, parse_dates=True)
mrk_dataframe = pd.read_csv(mrk_returns, index_col='Date', infer_datetime_format=True, parse_dates=True)
low_dataframe = pd.read_csv(low_returns, index_col='Date', infer_datetime_format=True, parse_dates=True)
sp500_dataframe = pd.read_csv(sp500_returns, index_col='Date', infer_datetime_format=True, parse_dates=True)
sp500_dataframe

                       Close
Date
2019-10-01 16:00:00  2940.25
2019-10-02 16:00:00  2887.61
2019-10-03 16:00:00  2910.63
2019-10-04 16:00:00  2952.01
2019-10-07 16:00:00  2938.79
...                      ...
2020-09-24 16:00:00  3246.59
2020-09-25 16:00:00  3298.46
2020-09-28 16:00:00  3351.60
2020-09-29 16:00:00  3335.47
2020-09-30 16:00:00  3363.00

[253 rows x 1 columns]

In [5]:
# Calculate Returns For Each Stock
erii_daily_return = erii_dataframe.pct_change()
tpr_daily_return = tpr_dataframe.pct_change()
mrk_daily_return = mrk_dataframe.pct_change()
low_daily_return = low_dataframe.pct_change()
sp500_daily_return = sp500_dataframe.pct_change()

In [6]:
# Concatenate DataFrames into a single DataFrame. Excludes S&P 500 as it is an index
combined_dataframe = pd.concat([erii_dataframe, tpr_dataframe, mrk_dataframe, low_dataframe], axis='columns', join='inner')
combined_dataframe.columns = ['ERII','TPR','MRK','LOW']

# Calculate weighted returns for portfolio with equal amount of each stock. Excludes S&P 500 as it is an index
weights = [0.25,0.25,0.25,0.25]
combined_portfolio_returns = combined_dataframe.dot(weights)

# Make the weighted returns into a new DataFrame
combined_portfolio_returns = pd.DataFrame(combined_portfolio_returns)

#Change the column name
combined_portfolio_returns.columns = ['Project Cornerstone']

combined_portfolio_returns

                     Project Cornerstone
Date
2019-10-01 16:00:00              56.9525
2019-10-02 16:00:00              55.4675
2019-10-03 16:00:00              55.8675
2019-10-04 16:00:00              56.7425
2019-10-07 16:00:00              56.6875
...                                  ...
2020-09-24 16:00:00              66.5200
2020-09-25 16:00:00              66.7275
2020-09-28 16:00:00              67.5425
2020-09-29 16:00:00              66.9575
2020-09-30 16:00:00              68.1600

[253 rows x 1 columns]

In [7]:
# Determine Daily return based on the new DataFrame
combined_portfolio_returns = combined_portfolio_returns.pct_change()
combined_portfolio_returns

                     Project Cornerstone
Date
2019-10-01 16:00:00                  NaN
2019-10-02 16:00:00            -0.026074
2019-10-03 16:00:00             0.007211
2019-10-04 16:00:00             0.015662
2019-10-07 16:00:00            -0.000969
...                                  ...
2020-09-24 16:00:00             0.001016
2020-09-25 16:00:00             0.003119
2020-09-28 16:00:00             0.012214
2020-09-29 16:00:00            -0.008661
2020-09-30 16:00:00             0.017959

[253 rows x 1 columns]

In [8]:
# Bring in Whale Returns to compare
whale_returns = Path('whale_portfolio.csv', index_col='Date', infer_datetime_format=True, parse_dates=True)
whale_dataframe = pd.read_csv(whale_returns)
whale_dataframe

,Date,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC,Algo 1,Algo 2,S&P 500
0,2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569,-0.001942,-0.000949,-0.004539
1,2015-03-04,0.002230,0.003241,-0.002534,0.004213,-0.008589,0.002416,-0.004389
2,2015-03-05,0.004016,0.004076,0.002355,0.006726,-0.000955,0.004323,0.001196
3,2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098,-0.004957,-0.011460,-0.014174
4,2015-03-09,0.000582,0.004225,0.005843,-0.001652,-0.005447,0.001303,0.003944
...,...,...,...,...,...,...,...,...
1038,2019-04-16,0.002699,0.000388,-0.000831,0.000837,-0.006945,0.002899,0.000509
1039,2019-04-17,-0.002897,-0.006467,-0.004409,0.003222,-0.010301,-0.005228,-0.002274
1040,2019-04-18,0.001448,0.001222,0.000582,0.001916,-0.000588,-0.001229,0.001579
1041,2019-04-22,-0.002586,-0.007333,-0.003640,-0.001088,0.000677,-0.001936,0.001012
1042,2019-04-23,0.007167,0.003485,0.006472,0.013278,0.004969,0.009622,0.008841

In [14]:
compiled_dataframe = pd.concat([whale_dataframe, combined_portfolio_returns], axis='columns', join='inner')
compiled_dataframe

Empty DataFrame
Columns: [Date, SOROS FUND MANAGEMENT LLC, PAULSON & CO.INC. , TIGER GLOBAL MANAGEMENT LLC, BERKSHIRE HATHAWAY INC, Algo 1, Algo 2, S&P 500, Project Cornerstone]
Index: []

In [10]:
compiled_dataframe.isnull().sum()

Date                           0
SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
Algo 1                         0
Algo 2                         0
S&P 500                        0
Project Cornerstone            0
dtype: int64